/**
 * html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/)
 * Richard Clark (http://richclarkdesign.com)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    list-style: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1.4;
    overflow-x: hidden;
    font-size: 100%;
    touch-action: pan-y;
    -webkit-user-select: none;
-webkit-touch-callout: none;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display:block;
}
nav ul, ol, ul, li {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select { vertical-align:middle; }
/*
*2015 fionawu grid.css v1.0
*personal website http://www.fionawu.url.tw/
*/
a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    display:inline-block;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
    color: #aaaab5;
}
a:hover { color: #3f9592;}
.ts-l {
    text-shadow:1px 1px 0px rgba(255,255,255, 0.25);
}
.ts-d {
    text-shadow:1px 1px 0px rgba(0,0,0, 0.25);
}
.relative { position: relative;}
a { display: inline-block; text-decoration: none;}
.align-c { text-align: center; }
.align-r { text-align: right; }
.align-l { text-align: left; }
.relative{ position: relative;}
.bShadow {
    box-shadow:0px 0px 10px rgba(0,0,0, .4);
}
.container {
    width: 95%;
    (;width: 95%;);
    max-width: 1280px;
    margin: 0 auto;
    display: block;
         }
.muse-container {
    width: 95%;
    (;width: 95%;);
    max-width: 1024px;
    margin: 0 auto;
    display: block;
}
.cf:before, .cf:after {
        display: table;
        content: " ";
}
.cf:after{ clear: both; 	}
.cf { 	zoom:1; }
.clear { clear: both; }
.cf {*zoom: 1;}

h1 { font-size: 3em;}
h2 { font-size: 2.8em;}
h3 { font-size: 1.65em;}
h4 { font-size: 1.35em;}
h5 { font-size: 1.1em;}
h6 { font-size: 1em;}
p { font-size: 0.95em;}
.tw { font-family: "微軟正黑體", sans-serif;}
.grid-1 { width:6.7%; }
.grid-2{ width:15%; }
.grid-3{ width:23.5%; }
.grid-4{ width:32%; }
.grid-5{ width:40.5%; }
.grid-6{ width:49%; }
.grid-7{ width:57.5%; }
.grid-8{ width:66%; }
.grid-9{ width:74.5%; }
.grid-10{ width:83%; }
.grid-11 { width:91.5%; }
.grid-12{ width:100%; }

[class*="grid-"] {
    display: block;
    float: left;
    margin: 0 1.7% 0 0;
}

.cell-1 { width: 8.33%;}
.cell-2 { width: 16.7%;}
.cell-3 { width: 25%;}
.cell-4 { width: 33%;}
.cell-5 { width: 41.7%;}
.cell-6 { width: 50%;}
.cell-7 { width: 58.33%;}
.cell-8 { width: 66.7%;}
.cell-9 { width: 75%;}
.cell-10 { width: 83.33%;}
.cell-11 { width: 91.66%;}
.cell-12 { width: 100%;}
.inner{
    width: 97%;
    float: left;
    padding: 5px 1.5%;
    height: auto;
    margin: 0px 0 5px 0;
    display: block;
 }
 .row {
  width: 100%;
    display: table;
    table-layout: fixed;
    margin: 1em auto;
    height: 100%;
    padding:0;
   }
[class*="cell-"] {
display: table-cell;
padding: 0;
border: 0;
vertical-align: top;
line-height: 2;
border-left-width: 0.5em;
border-right-width: 0.5em;
border-style: solid;
 height: 100%;
    border-color: #f2f2f2;

}
.omega { margin-right:  0; float: right; }
.alpha { margin-left:  0; }
.pc { display: inline-block;}
[class^="cell"].pc { display: table-cell;}
.mobile { display: none;}
.bl {border-left-width: 0;}
.br { border-right-width: 0;}

@media screen and (min-width: 300px) and (max-width: 800px) {
.container, .muse-container {
    width: 98%;
    (;width: 98%;);
    max-width: 100%;
    margin: 0 auto;
    display: block;
    float: none;

        }

[class*="grid"], [class*="cell"]{
    float: left;
    margin: 0 0 0em 0;
    padding: 0;
    display: block;
    height: auto;
    width: 100%;
    border: 0;

}
.pc, [class^="cell"].pc { display: none; line-height: 0;}
.mobile { display: inline-block;}
}
@media screen and (min-width: 1025px) and (max-width: 1280px) {
    .container, .muse-container {
    width: 90%;
    (;width: 90%;);
    max-width: 62.5em;/*1000*/
    margin: 0 auto;
    display: block;
    float: none;

        }
}
@media screen and (min-width: 960px) and (max-width: 1024px) {
   .container {
    width: 90%;
    (;width: 90%;);
    max-width: 60em;
    margin: 0 auto;
    display: block;
    float: none;

        }
    .muse-container {
     width: 95%;
    (;width: 95%;);
    max-width: 960px;
    margin: 0 auto;
    display: block;
    float: none;
    }
}
@media screen and (min-width: 801px) and (max-width: 959px) {
.container, .muse-container {
    width: 98%;
    (;width: 98%;);
    max-width: 100%;
    margin: 0 auto;
    display: table;
    table-layout: fixed;

        }

}
